  /* *************** VARIABLES *************** */
  
  :root{
    --main-font: 'Roboto', 'Relaway', sans-serif;
    --main-color: #2196f3;
    --secondary-color: #212121;
    --third-color: #757575;
    --text-btn-color: #ffffff;
    --main-background-color: #2f303a;
    --border-card-color: #eeeeee;
    --border-main-head-color: #ececec;
    --contact-foter-color: rgba(255, 255, 255, 0.6);
  }

/* ########################################### */

/* *************** GLOBAL SETTINGS  *************** */

  body{
    font-family: var(--main-font);
    color: var(--secondary-color);
  }

  ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
  }

h1{
    margin: 0px;
}

  h2{
    position: absolute;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.116;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--secondary-color);
  }

              /* klasa pomocnicza  */
.container{             
    max-width: 1200px;
} 
            /* ................. */

/* *************** HEADER *************** */



            /**************/
            /* NAVIGATION */
            /**************/

.main-head{
    margin: 0px;
    padding: 32px 0px;

    box-sizing: border-box;

    background-color: var(--text-btn-color);
    border-bottom: 1px solid var(--border-main-head-color);

    display: flex;
    align-items: center; 
}

.main-head-logo{
    margin-left: 215px;
    margin-right: 93px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;

    letter-spacing: 0.03em;

    color: var(--main-color);
    text-decoration: none;
}

.menu-navigation{
    display: flex;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em; 

    margin-right: 364px;
}

.menu-navigation-item:not(:last-child){
    margin-right: 43px;
}

.menu-navigation .menu-navigation-item-link{
    color: var(--secondary-color);
    text-decoration: none;
}

.menu-navigation .menu-navigation-item-link:hover,
.menu-navigation .menu-navigation-item-link:focus{
    color: var(--main-color);
}

.main-head-contact{
    display: flex;
   
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
}

.main-head-contact-item:first-child{
    margin-right: 50px;
}

.main-head-contact .main-head-contact-item-link{
    color: var(--third-color);
    text-decoration: none;
}

.main-head-contact .main-head-contact-item-link:hover,
.main-head-contact .main-head-contact-item-link:focus{
    color: var(--main-color);
}
            /******************/
            /* END NAVIGATION */
            /******************/       

/* *************** END HEADER *************** */

/* ************************************************************** */
/* ************************* PORTFOLIO.HTML ************************* */
/* ************************************************************** */

/* *************** MAIN *************** */

            /********/
            /* MENU */
            /********/

.menu{
     /* box-sizing: border-box;  */
    display: flex;
    align-items: center;

    margin-top: 94px;
    margin-left: 510;
}

.menu >.menu-item:not(last-child){
    margin-right: 8px;
}

.menu-btn{
    padding: 6px 22px;

    border-radius: 4px;
    border: none;

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
                0px 1px 2px rgba(0, 0, 0, 0.08), 
                0px 2px 2px rgba(0, 0, 0, 0.12);

    font-size: 16px;
    font-weight: 500px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--secondary-color);
}

.menu-btn:hover,
.menu-btn:focus{
    background-color: var(--main-color);
    color: var(--text-btn-color);
    
    cursor: pointer;
}

            /************/
            /* END MENU */
            /************/

            /************/
            /* PROJECTS */
            /************/

.picture-card{
    margin: 0px;
}

.project-card{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
   
    margin-top: 50px;
    margin-bottom: 94px;
}

.project-card > .project-card-item{
    border-bottom: 1px solid var(--border-card-color);
    background-color: var(--text-btn-color);
}

.project-card-item:nth-child(3n+1){
    margin-left: 215px;
}

 .project-name{
    margin-top: 20px;
    margin-left: 24px;
    
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;

    letter-spacing: 0.06em;

    color: var(--secondary-color);
}

.category-name{
    margin-top: 4px;
    margin-left: 24px;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;

    letter-spacing: 0.03em;

    color: var(--third-color);
} 

            /****************/
            /* END PROJECTS */
            /****************/

/* *************** END MAIN *************** */
/* ########################################### */
/* *************** FOOTER *************** */

.foter{
    box-sizing: border-box;

    margin: 0px;
    padding: 60px 0px 60px 215px;

    background-color: var(--main-background-color);
}

.foter-logo{  
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;

    letter-spacing: 0.03em;

    color: var(--main-color);
    text-decoration: none;
}

.foter-contact{
    margin-top: 20px;
}

.foter-contact-details-item{

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;

    letter-spacing: 0.03em;

    color: var(--text-btn-color);

    margin-top: 9px;
}

.foter-contact-details-item-link,
.foter-contact-details-item-telephone{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    letter-spacing: 0.03em;

    color: var(--contact-foter-color);
}

.foter-contact-details-item-link{
    text-decoration: underline;
}

.foter-contact-details-item-link:hover,
.foter-contact-details-item-link:focus,
.foter-contact-details-item-telephone:hover,
.foter-contact-details-item-telephone:focus{
    color: var(--main-color);
}

/* *************** END FOOTER *************** */
/* ########################################### */


/* ************************************************************** */
/* ************************* INDEX.HTML ************************* */
/* ************************************************************** */

/* *************** MAIN *************** */

            /***********/
            /* HEADING */
            /***********/

.heading{
    box-sizing: border-box;

    padding: 200px 0px 280px 0px;

    background-color: var(--main-background-color);
}

.heading-titlee{
    /* display:inline-block; */
    margin: 0px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.364;

    white-space: pre;

    text-align: center;
    letter-spacing: 0.06em;

    color: var(--text-btn-color);

    border: 1px solid yellow;
}



.heading-btn{
    /* margin-top: 30px;
    margin-left: 248px;  */

    padding: 10px 41px 10px 42px;

    background-color: var(--main-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;

    color: var(--text-btn-color);

    /* border: 1px solid yellowgreen; */
}

.heading-btn:hover,
.heading-btn:focus{
    cursor: pointer;
}

/* .head-main{
    position: absolute;
    
    box-sizing: border-box;
    background-color: var(--main-background-color);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.364;

    text-align: center;
    letter-spacing: 0.06em;

    color: var(--text-btn-color);

    padding: 200px 452px 280px 452px;
}  */

/* 

.lorem{
    list-style-type: none;
}

.lorem-item-first,
.lorem-item-second,
.lorem-item-third,
.lorem-item-fourth{
    position: absolute;
    width: 270px;
    height: 16px;
    left: 215px;
    top: 774px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
}

.lorem-item-second{
    left: 515px;
}

.lorem-item-third{
    left: 815px;
}

.lorem-item-fourth{
    left: 1115px;
}

.lorem-item-first-text,
.lorem-item-second-text,
.lorem-item-third-text,
.lorem-item-fourth-text{
    position: absolute;
    width: 270px;
    height: 75px;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;

    letter-spacing: 0.03em;

    color: var(--third-color);
} */

            /* SECTION NO.1 */

/* .head-our-job,
.head-section-team{
    position: absolute;
    width: 352px;
    height: 42px;
    left: 624px;
    top: 969px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.166;
    text-align: center;
    letter-spacing: 0.03em;
} */

/* .our-job-list{
    list-style-type: none;
} */

/* .our-job-list-item-first,
.our-job-list-item-second,
.our-job-list-item-third{
    position: absolute;
    width: 370px;
    height: 294px;
    left: 215px;
    top: 1061px;
}

.our-job-list-item-second{
    left: 615px;
}

.our-job-list-item-third{
    left: 1015px;
} */

            /* END SECTION NO.1 */

            /* SECTION NO.2 */

/* .head-our-team{
    position: absolute;
    width: 210px;
    height: 42px;
    left: 695px;
    top: 1543px;
} */

/* .our-team-list{
    list-style-type: none;
} */

/* .our-team-list-item-first,
.our-team-list-item-second,
.our-team-list-item-third,
.our-team-list-item-fourth{
    position: absolute;
    left: 215px;
    top: 1635px;
}

.our-team-list-item-second{
    left: 515px;
}

.our-team-list-item-third{
    left: 815px;
}

.our-team-list-item-fourth{
    left: 1115px;
}

.team-name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.188;

    text-align: center;
    letter-spacing: 0.03em;

    white-space: pre-wrap;
}

.job-position{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.188;

    text-align: center;
    letter-spacing: 0.03em;

    color: var(--third-color);
} */

            /* END SECTION NO.2 */

/* *************** END MAIN *************** */